body {
  background-color: var(--background-color);
  color: var(--text-color);
}
body * {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 80%;
  max-width: 680px;
  margin: 0 auto;

  @import 'code-snippets.scss';

  a, a:visited {
    color: var(--accent-color);
    text-decoration: dotted;
    border-bottom: 1px dotted;
  }

  p {
    line-height: 1.5em;
    letter-spacing: .5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
