body {
  background-color: var(--background-color);
  color: var(--text-color);
}
body * {
  font-family: 'Open Sans', sans-serif;
}


a, a:visited {
  color: var(--accent-color);
  text-decoration: none;
  border-bottom: dotted 1px transparent;
}
a:hover {
  border-bottom: dotted 1px var(--accent-color);
}
